/* Font Definitions */
@font-face {
    font-family: "SF Pro Display";
    src: url("./fonts/SFPRODISPLAYREGULAR.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bentham";
    src: url("./fonts/Bentham-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "bodaniSemibold";
    src: url("./fonts/bodaniSemibold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Global Styles */
* {
    font-family: "SF Pro Display";
}

/* Navbar Styles */
.navbar {
    transition: background-color 0.3s ease, box-shadow 0.3s ease,
        color 0.3s ease;
    height: 80px;
    font-size: 16px;
}

.navbar-transparent {
    background-color: transparent !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(15px) !important;
}

.navbar-black {
    background-color: #010d3f !important;
    backdrop-filter: blur(15px) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-black a {
    color: white !important;
}

.navbar a:hover {
    color: #ddd;
}

/* Button Styles */
.btn-primary-action {
    margin-left: 2.5rem;
}

.btn-regist,
.btn-login {
    font-weight: semibold;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-regist {
    background: transparent;
    color: #fff;
    border: 2px solid #f1b614;
}

.btn-regist:hover {
    background-color: #f1b614;
    color: white;
}

.btn-login {
    background: #12b112;
    color: #fff;
    border: none;
}

.btn-login:hover {
    background-color: #1e8d2d;
}

/* Header Styles */
header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

/* Section Heading Styles */
.section-heading {
    text-align: center;
    font-size: 26px;
    font-weight: extra;
    color: rgba(15, 83, 15, 0.76);
    position: relative;
    display: inline-block;
    padding-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    animation: fadeIn 1s ease-in-out;
    font-family: "bodaniRegular";
}

.section-heading::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -14px;
    width: 110px;
    height: 6px;
    background: linear-gradient(
        to right,
        transparent,
        rgba(15, 83, 15, 0.76),
        transparent
    );
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.diamond {
    width: 14px;
    height: 14px;
    background-color: rgba(15, 83, 15, 0.76);
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-radius: 3px;
    box-shadow: 0px 0px 8px rgba(15, 83, 15, 0.5);
}

.section-heading:hover::after {
    width: 130px;
    background: rgba(15, 83, 15, 0.9);
}

.section-heading:hover .diamond {
    background: rgba(15, 83, 15, 0.9);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Hero Image Styles */
.hero-img {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url("../images/background/Lab-Vokasi.jpg") no-repeat center
        center/cover;
}

.hero-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 50, 100, 0.6);
}

.container {
    position: relative;
    z-index: 2;
}

.text-style {
    font-size: 2.5rem;
    font-weight: 900;
    color: #edaa2c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.superscript {
    font-size: 1.2rem;
    vertical-align: super;
}

.subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
}

.btn-register {
    display: inline-block;
    background-color: #edaa2c;
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-register:hover {
    background-color: #d18e00;
}

/* style about */
#hero-about {
    margin-top: 2rem;
}

#hero-about img {
    width: 38rem;
    height: auto;
    border-radius: 1rem;
    margin: 5rem 0 1.5rem;
}
.text-justify {
    text-align: justify;
}

/* style keynote & speakers */
.speaker-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 4px solid #eaa02a;
    margin-right: 15px;
}

.card-speakers {
    gap: 1.3rem;
}

.speaker-card {
    display: flex;
    align-items: center;
    flex: 1 1 calc(33.333% - 20px);
    min-width: 250px;
}

/* Topic style */
.content-topics {
    position: relative;
    width: 100%;
    min-height: 22rem;
    background: url("../images/background/Lab-Vokasi.jpg") no-repeat center
        center/cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 50, 150, 0.8);
    display: flex;
    justify-content: center;
}

.list-topics li {
    font-size: 18px;
    line-height: 1.6;
}

/* style important dates */
#important-dates img {
    max-height: 38rem;
    width: auto;
}

.content-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-top: 2rem;
    flex-wrap: wrap;
}

.image-container,
.table-container {
    flex: 1;
    min-width: 300px;
}

.content-timeline h3 {
    text-align: left;
    color: #ffbf0f;
    font-weight: 900;
    font-size: 24px;
    font-style: italic;
}

.content-timeline h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #1f3a6f;
    font-weight: 900;
    font-size: 28px;
}

.table-dates {
    background-color: #f8f9fa;
    border-radius: 7px;
    overflow: hidden;
}

.table-dates th {
    background-color: #2d4b81;
    color: white;
    font-weight: bold;
    padding: 1.2rem 2rem;
}

.table-dates td {
    background-color: #e9ecef;
    border: 2px solid #e9ecef;
    padding: 20px;
}

.table-dates tbody tr:nth-child(odd) td {
    background-color: #f1f1f1;
}

.table-dates tbody tr:nth-child(even) td {
    background-color: #e9ecef;
}

/* Style Venue */
#venue-section .title-venue {
    color: #162668;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.content-venue {
    padding: 2.5rem 2.5rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

/* style publication */
.content-publication {
    background: url("../images/background/Lab-Vokasi.jpg") no-repeat center
        center/cover;
    margin-top: 10rem;
}

.content-overlay {
    background: #462c2c91;
    padding: 2rem 0;
}

.content-jurnal {
    text-align: left;
}

.logo-jurnal {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    background: #fff;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    border-radius: 1rem;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.title {
    color: #f4a623;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.logo-jurnal img {
    width: 10rem;
    height: auto;
    padding: 0.5rem;
    border-radius: 5px;
}

.content-hosted {
    width: 100%;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    margin: 5rem 0 10rem;
}

.hosted-logo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hosted-by {
    margin-bottom: 2rem;
}

.sponsor-logo h4 {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #202020;
}

.hosted-by h4,
.co-hosted-by h4 {
    text-align: left;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #202020;
}

.hb-logo img,
.ds-logo img {
    width: 11rem;
    height: 8%;
}

.hb-logo {
    display: flex;
    gap: 1.5rem;
    align-items: left;
    flex-wrap: wrap;
    justify-content: left;
}

.ds-logo {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* Footer Section Styles */
.first-footer {
    background: linear-gradient(to right, #021a3d, #ffc13b);
}

/* Slider Styles */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slide {
    height: 100px;
    max-width: 250px;
}

.slide > img {
    height: 100px;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    gap: 1rem;
    width: calc(250px * 7);
}

/* Responsiveness */
@media (max-width: 768px) {
    /* style home */
    .text-style {
        font-size: 1.8rem;
    }

    .superscript {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .btn-register {
        font-size: 0.9rem;
        padding: 10px 20px;
    }

    /* style about */
    #hero-about {
        margin-top: 1rem;
    }

    .text-lg-start {
        text-align: center !important;
    }

    .img-responsive {
        margin-bottom: 1.5rem;
    }

    /* style keynote & invited speakers */
    #hero-invited {
        padding: 2rem 0;
    }
    .speaker-img {
        width: 80px;
        height: 80px;
    }

    .card-speakers {
        gap: 5px;
    }

    /* style topics */
    .content-topics {
        min-height: 18rem;
    }

    .list-topics li {
        font-size: 14px;
    }

    .contents-topics h2 {
        font-size: 18px;
    }
    .contents-topics p {
        font-size: 14px;
    }

    /* style important dates */
    #important-dates img {
        max-height: 300px;
    }
    .content-detail {
        flex-direction: column;
        padding: 1.5rem;
        gap: 1.5rem;
    }
    .content-timeline h3 {
        font-size: 20px;
    }
    .content-timeline h2 {
        font-size: 24px;
    }

    /* style sponsor */
    .sponsor-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .content-hosted {
        flex-direction: column;
    }
    .sponsor-logo .ds-logo img{
        width: 10rem;
    }

    /* style footer */
    #footer-section .col-lg-4 {
        text-align: center;
    }
    #footer-section .col-lg-4 img {
        margin: auto;
    }
}

@media (max-width: 480px) {
    /* style home */
    .text-style {
        font-size: 1.2rem;
    }

    .subtitle {
        font-size: 0.9rem;
    }

    .btn-register {
        font-size: 0.8rem;
        padding: 8px 16px;
    }

    /* style about */
    #hero-about {
        margin-top: 0rem;
    }

    /* style keynote & invited speakers */
    .card-speakers {
        gap: 5px;
    }
    .d-flex img {
        width: 60px;
        height: 60px;
    }
    .speaker-card h5 {
        font-size: 16px;
    }
    .speaker-card p {
        font-size: 12px;
    }

    /* style topics */
    .list-topics li {
        font-size: 11px;
    }
    .contents-topics h2 {
        font-size: 14px;
    }
    .contents-topics p {
        font-size: 11px;
    }

    /* style important dates */
    .content-timeline h3 {
        font-size: 18px;
    }
    .content-timeline h2 {
        font-size: 22px;
    }
    .content-detail {
        padding: 1rem;
        gap: 1rem;
        box-shadow: none;
    }

    /* stlye sponsor */
    .content-hosted {
        flex-direction: column;
    }

    .sponsor-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .sponsor-logo .ds-logo img{
        width: 10rem;
    }
    
}

/* Media Queries for Responsiveness */
/* @media screen and (min-width: 900px) {
    #hero-title {
        font-size: 44px;
        line-height: 0.8;
    }
} */

/* @media screen and (max-width: 768px) {
    #navbarNav {
        flex-direction: column;
        width: 100%;
        background-color: #0e470e;
        padding: 1rem 0 3rem;
    }

    .nav-item {
        margin: 10px 0;
        text-align: center;
    }

    .btn-primary-action {
        align-items: center;
        justify-content: center;
        width: 30%;
        text-align: center;
        margin: 0 auto;
        flex-direction: column;
    }

    .btn-regist {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .hero-img {
        height: 80vh;
        margin-bottom: 4rem;
    }

    .content {
        top: 50%;
    }

    .content h3 {
        font-size: 14px;
    }

    .content h1 {
        font-size: 32px;
    }

    #home {
        font-size: 0.8em;
        line-height: 1.4rem;
        margin-bottom: 1.5rem;
    }

    #hero-title {
        font-size: 1.6em;
        line-height: 1.8rem;
        width: 100%;
    }
    #hero-title2 {
        font-size: 1.3em;
        line-height: 1.8rem;
        width: 100%;
        margin-bottom: 2.3rem;
    }

    .content-about {
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        line-height: 1.4rem;
        justify-content: left;
    }
} */

/* @media screen and (max-width: 480px) {
    .hero-img {
        height: 70vh;
        margin-bottom: 1rem;
    }

    .content {
        top: 50%;
        width: 95%;
    }

    .content h3 {
        font-size: 12px;
        width: 80%;
        margin: 0 auto;
    }

    .content h1 {
        font-size: 20px;
        margin-bottom: 0.5rem;
    }

    .content h2 {
        font-size: 14px;
        margin-bottom: 0.5rem;
    }
} */

/* @media screen and (max-width: 320px) {
    .content h1 {
        font-size: 16px;
    }

    .content h3 {
        font-size: 12px;
    }
}

@media screen and (max-height: 480px) and (orientation: landscape) {
    .hero-img {
        height: 100vh;
    }

    .content {
        top: 50%;
    }
} */

.title h2 {
    font-size: 30px;
    color: #1e8d2d;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

/* Keynotes Section Styles */
/* .container-keynotes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-content: space-between;
    align-content: center;
    padding: 0 1rem;
} */

/* @media (max-width: 900px) {
    .container-keynotes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container-keynotes {
        grid-template-columns: repeat(1, 1fr);
    }
} */

/* .content-speakers h2,
.content-keynote h2 {
    color: #0f1e5c;
    font-weight: 800;
    margin-bottom: 1rem;
}
.speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.speaker {
    display: flex;
    align-items: center;
    width: 48%;
    margin-bottom: 1.5rem;
}
.speaker img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-right: 15px;
    border: 6px solid #eaa02a;
    object-fit: cover;
}

.info {
    flex: 1;
}
.name {
    font-weight: bold;
    font-size: 22px;
    color: #333;
    line-height: 1.5;
}
.university {
    font-size: 20px;
    color: #666;
}

.hero-invited {
    padding: 50px 20px;
    margin-top: 0;
    background-color: #f9f9f9;
} */

/* @media (max-width: 600px) {
    .speaker {
        width: 100%;
    }
}

.card {
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    border: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    position: relative;
}

.card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 100%;
    height: 5px;
    background-color: #1e8d2d;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0%);
}

.card:hover::after {
    transform: translateX(-100%);
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-wrapper {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.card .card-img-wrapper img {
    scale: 1.1;
    transition: scale 0.3s ease-in-out;
}

.card:hover .card-img-wrapper img {
    scale: 1;
    transition: scale 0.3s ease-in-out;
}

.card-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 1rem;
    text-align: center;
}

.card-title {
    font-size: 18px;
    font-weight: 800;
    color: #1e8d2d;
}

.card-text {
    font-size: 14px;
    color: #777777;
}

.card-text-small {
    font-size: 14px;
    color: #777777;
} */

/* hosted and supported styles */


/* .sponsor-logo {
    width: 70%;
} */


